@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    position:relative;
    background-color: black;
    color: white;
    cursor: none;
}

/* Importa la fuente Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}